<!DOCTYPE html >

{% extends "index.html" %}



<html>
<meta charset="utf-8">




{% block content %}



<form action='/owner' method="POST">
    {{ form.hidden_tag() }}
  <div class="form-row">
    <div >
       {{ form.VEHICLE_ID.label }}
       {{ form.VEHICLE_ID(size=32) }}

    </div>
    <div >
      {{ form.FLEET_OWNER.label }}
      {{ form.FLEET_OWNER(size=32) }}

    </div>
    <div >
      {{ form.CONTACT_PERSON.label }}
      {{ form.CONTACT_PERSON(size=32) }}

    </div>
    <div >
      {{ form.ADDRESS.label }}
      {{ form.ADDRESS(size=32) }}

    </div>
    <div>
      {{ form.PHONE_NUMBER.label }}
      {{ form.PHONE_NUMBER(size=32) }}

    </div>
    <div >
      {{ form.EMAIL.label }}
      {{ form.EMAIL(size=32) }}

    </div>


  </div>
  <button type="submit" class="btn btn-primary">{{ form.submit() }}</button>
</form>


{% endblock %}
</html>
